@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
	/* Neutral   */
	--neutral-900: hsl(243, 96%, 9%);
	--neutral-800: hsl(243, 27%, 20%);
	--neutral-700: hsl(243, 23%, 24%);
	--neutral-600: hsl(243, 23%, 30%);
	--neutral-300: hsl(240, 6%, 70%);
	--neutral-200: hsl(250, 6%, 84%);
	--neutral-0: hsl(0, 0%, 100%);

	/* Orange */
	--orange-500: hsl(28, 100%, 52%);

	/* Blue */
	--blue-500: hsl(233, 67%, 56%);
	--blue-700: hsl(248, 70%, 36%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "DM Sans", sans-serif;
}

body {
	background-color: var(--neutral-900);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 2em 6em 2em 6em;
}

header {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	gap: 3em;
}

nav {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

h1 {
	color: var(--neutral-0);
	font-family: "Bricolage Grotesque", sans-serif;
	font-weight: 700;
	font-size: 2.5rem;
}

#units {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	color: var(--neutral-0);
	background-color: var(--neutral-800);
	padding: 0.6em;
	gap: 0.5em;
	font-size: 1.2em;
	border-radius: 0.5em;
	cursor: pointer;
}

.gear {
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	background-image: url("assets/images/icon-units.svg");
}

.arrow {
	height: 10px;
	width: 20px;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	background-image: url("assets/images/icon-dropdown.svg");
}

/* Search bar */

.search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
    width: 100%;
}

.search-icon {
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	background-image: url("assets/images/icon-search.svg");
}

.search {
	display: flex;
	color: var(--neutral-0);
	background-color: var(--neutral-800);
	border-radius: 0.5em;
	border: 2px solid transparent;
	padding: 0.6em  1em  0.6em 1em ;
	gap: 1em;
	box-sizing: border-box;
    width: 28%;
    
}
.search:focus-within {
	border: 2px solid var(--neutral-0); /* Border when div or its input is focused */
	outline: none; /* Remove default outline (optional) */
}

.search input {
	background-color: transparent;
	border: none;
	color: var(--neutral-0);
	outline: none;
    font-size: 1.2em;
}

.search-button {
	background-color: var(--blue-500);
	color: var(--neutral-0);
	border: none;
	padding: 0.6em  1em  0.6em 1em ;
	border-radius: 0.5em;
	cursor: pointer;
	font-size: 1.2em;
}