@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
	/* Neutral   */
	--neutral-900: hsl(243, 96%, 9%);
	--neutral-800: hsl(243, 27%, 20%);
	--neutral-700: hsl(243, 23%, 24%);
	--neutral-600: hsl(243, 23%, 30%);
	--neutral-300: hsl(240, 6%, 70%);
	--neutral-200: hsl(250, 6%, 84%);
	--neutral-0: hsl(0, 0%, 100%);

	/* Orange */
	--orange-500: hsl(28, 100%, 52%);

	/* Blue */
	--blue-500: hsl(233, 67%, 56%);
	--blue-700: hsl(248, 70%, 36%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "DM Sans", sans-serif;
}

body {
	background-color: var(--neutral-900);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 2em 6em 2em 6em;
}

header {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	gap: 3em;
}

nav {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

h1 {
	color: var(--neutral-0);
	font-family: "Bricolage Grotesque", sans-serif;
	font-weight: 700;
	font-size: 2.5rem;
}

#units {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	color: var(--neutral-0);
	background-color: var(--neutral-800);
	padding: 0.6em;
	gap: 0.5em;
	font-size: 1.2em;
	border-radius: 0.5em;
	cursor: pointer;
}

.gear {
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	background-image: url("assets/images/icon-units.svg");
}

.arrow {
	height: 10px;
	width: 20px;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	background-image: url("assets/images/icon-dropdown.svg");
}

/* Search bar */

.search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	width: 100%;
}

.search-icon {
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	background-image: url("assets/images/icon-search.svg");
}

.search {
	display: flex;
	color: var(--neutral-0);
	background-color: var(--neutral-800);
	border-radius: 0.5em;
	border: 2px solid transparent;
	padding: 0.6em 1em 0.6em 1em;
	gap: 1em;
	box-sizing: border-box;
	width: 28%;
}
.search:focus-within {
	border: 2px solid var(--neutral-0); /* Border when div or its input is focused */
	outline: none; /* Remove default outline (optional) */
}

.search input {
	background-color: transparent;
	border: none;
	color: var(--neutral-0);
	outline: none;
	font-size: 1.2em;
}

.search-button {
	background-color: var(--blue-500);
	color: var(--neutral-0);
	border: none;
	padding: 0.6em 1em 0.6em 1em;
	border-radius: 0.5em;
	cursor: pointer;
	font-size: 1.2em;
}

main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-gap: 2em;
	margin-top: 3em;
}

.current-weather {
	background-image: url("assets/images/bg-today-large.svg");
	background-repeat: no-repeat;
	background-size: cover;
	grid-column: span 2;
	grid-row: span 3;
	background-color: var(--neutral-800);
	color: var(--neutral-0);
	padding: 2em;
	border-radius: 1.5em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.current-weather-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.location {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
}

.city {
	font-size: 2rem;
	font-weight: 700;
}

.date {
	font-size: 1.2rem;
	font-weight: 400;
}

.temperature {
	font-size: 8rem;
	font-weight: 700;
	font-style: italic;
}

/* Hourly forecast */
.hourly-forecast {
	background-color: var(--neutral-800);
	color: var(--neutral-0);
	grid-column: span 1;
	grid-row: span 6;
	padding: 2em;
	border-radius: 1.5em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.forecast-header {
	display: flex;
	justify-content: space-between;
	align-items:center;
	font-size: 1.2rem;
	font-weight: 700;
}

.day-select {
	background-color: var(--neutral-600);
	border: none;
	display: flex;
	align-items: center;
	color: var(--neutral-0);
	gap: 1em;
	padding: 1em;
	border-radius: 0.6em;
	cursor: pointer;
}

.hourly {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 700;
}

.hour-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hour-container p {
	font-size: 1.2rem;
}

.icon-weather {
	height: 40px;
	width: 40px;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
}

.icon-drizzle {
	background-image: url("assets/images/icon-drizzle.webp");
}

.hourly {
	background-color: var(--neutral-700);
	border: 1px solid var(--neutral-600);
	border-radius: 0.5em;
	padding: 1em;	
}